@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

*{
  font-family: 'Karla', sans-serif;
}

html{
  height: 100%;

}

body{
  height: inherit;
  background-color: lightgray;
}

root{
  height: 100%;
}

.App {
  height: inherit;
  text-align: center;
}

#main-cont{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
