@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

*{
  font-family: 'Karla', sans-serif;
}

html{
  height: 100%;

}

body{
  height: inherit;
  background-image: linear-gradient(100deg, lightgray, lightblue);
}

root{
  height: 100%;
}

.App {
  height: inherit;
  text-align: center;
}

.header{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.logo{
  padding: 10px;
  height: 50px;
  width: 50px;
}

#main-cont{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
