#main-weather-cont{
    width: 40%;
}

#city-date-cont{
    text-align: left;
}

.temp-details-cont{
    text-align: right;
}

.weather-condition-cont{
    display: flex;
    justify-content: end;
}
